@layer base {
  .dark-theme {
    --base-neutral: #445371;

    --base-accent: #0055ff;

    --base-success: #019f3c;

    --base-warning: #f29100;

    --base-error: #d91528;

    --base-info: #1998ff;

    --base-status-01: #00b288;

    --base-status-02: #1192bb;

    --base-status-03: #6952f5;

    --base-status-04: #9924ff;

    --base-status-05: #e33a82;

    --base-status-06: #fa5300;

    --neutral-1000: #000;

    --neutral-990: #0e1117;

    --neutral-950: #181d28;

    --neutral-925: #1d2431;

    --neutral-900: #222a39;

    --neutral-800: #293244;

    --neutral-700: #303a4f;

    --neutral-600: #3a4760;

    --neutral-500: #445371;

    --neutral-400: #69758d;

    --neutral-300: #858fa3;

    --neutral-200: #a2a9b8;

    --neutral-100: #d0d4dc;

    --neutral-50: #eceef1;

    --neutral-25: #f6f6f8;

    --neutral-10: #f9fafb;

    --neutral-0: #fff;

    --accent-1000: #000;

    --accent-990: #013;

    --accent-950: #001e59;

    --accent-925: #00256e;

    --accent-900: #002b80;

    --accent-800: #039;

    --accent-700: #003cb3;

    --accent-600: #0048d9;

    --accent-500: #0055ff;

    --accent-400: #37f;

    --accent-300: #5991ff;

    --accent-200: #80aaff;

    --accent-100: #bfd4ff;

    --accent-50: #e6eeff;

    --accent-25: #f2f7ff;

    --accent-10: #f7faff;

    --accent-0: #fff;

    --success-1000: #000;

    --success-990: #00200c;

    --success-950: #003815;

    --success-925: #00441a;

    --success-900: #01501e;

    --success-800: #015f24;

    --success-700: #016f2a;

    --success-600: #018733;

    --success-500: #019f3c;

    --success-400: #34b263;

    --success-300: #5ac180;

    --success-200: #80cf9e;

    --success-100: #c0e7ce;

    --success-50: #e6f5ec;

    --success-25: #f2faf5;

    --success-10: #f7fcf9;

    --success-0: #fff;

    --warning-1000: #000;

    --warning-990: #301d00;

    --warning-950: #530;

    --warning-925: #683e00;

    --warning-900: #794900;

    --warning-800: #915700;

    --warning-700: #a96600;

    --warning-600: #ce7b00;

    --warning-500: #f29100;

    --warning-400: #f5a733;

    --warning-300: #f7b859;

    --warning-200: #f9c880;

    --warning-100: #fce3bf;

    --warning-50: #fef4e6;

    --warning-25: #fefaf2;

    --warning-10: #fffcf7;

    --warning-0: #fff;

    --error-1000: #000;

    --error-990: #2b0408;

    --error-950: #4c070e;

    --error-925: #5d0911;

    --error-900: #6d0b14;

    --error-800: #820d18;

    --error-700: #980f1c;

    --error-600: #b81222;

    --error-500: #d91528;

    --error-400: #e14453;

    --error-300: #e66773;

    --error-200: #ec8a93;

    --error-100: #f6c5c9;

    --error-50: #fbe8ea;

    --error-25: #fdf3f4;

    --error-10: #fef8f9;

    --error-0: #fff;

    --info-1000: #000;

    --info-990: #051e33;

    --info-950: #093559;

    --info-925: #0b416e;

    --info-900: #0d4c80;

    --info-800: #0f5b99;

    --info-700: #126ab3;

    --info-600: #1581d9;

    --info-500: #1998ff;

    --info-400: #47adff;

    --info-300: #6abcff;

    --info-200: #8cccff;

    --info-100: #c6e5ff;

    --info-50: #e8f5ff;

    --info-25: #f3faff;

    --info-10: #f8fcff;

    --info-0: #fff;

    --status-01-1000: #000;

    --status-01-990: #00241b;

    --status-01-950: #003e30;

    --status-01-925: #004d3a;

    --status-01-900: #005944;

    --status-01-800: #006b52;

    --status-01-700: #007d5f;

    --status-01-600: #009774;

    --status-01-500: #00b288;

    --status-01-400: #33c1a0;

    --status-01-300: #59cdb2;

    --status-01-200: #80d9c3;

    --status-01-100: #bfece1;

    --status-01-50: #e6f7f3;

    --status-01-25: #f2fbf9;

    --status-01-10: #f7fdfb;

    --status-01-0: #fff;

    --status-02-1000: #000;

    --status-02-990: #031d25;

    --status-02-950: #063341;

    --status-02-925: #073f50;

    --status-02-900: #09495e;

    --status-02-800: #0a5870;

    --status-02-700: #0c6683;

    --status-02-600: #0e7c9f;

    --status-02-500: #1192bb;

    --status-02-400: #41a8c9;

    --status-02-300: #64b8d3;

    --status-02-200: #88c9dd;

    --status-02-100: #c3e4ee;

    --status-02-50: #e7f4f8;

    --status-02-25: #f3fafc;

    --status-02-10: #f8fcfd;

    --status-02-0: #fff;

    --status-03-1000: #000;

    --status-03-990: #151031;

    --status-03-950: #251d56;

    --status-03-925: #2d2369;

    --status-03-900: #35297b;

    --status-03-800: #3f3193;

    --status-03-700: #4a39ac;

    --status-03-600: #5946d0;

    --status-03-500: #6952f5;

    --status-03-400: #8775f7;

    --status-03-300: #9e8ff9;

    --status-03-200: #b4a9fa;

    --status-03-100: #dad4fd;

    --status-03-50: #f0eefe;

    --status-03-25: #f8f6ff;

    --status-03-10: #fbfaff;

    --status-03-0: #fff;

    --status-04-1000: #000;

    --status-04-990: #1f0733;

    --status-04-950: #360d59;

    --status-04-925: #420f6e;

    --status-04-900: #4d1280;

    --status-04-800: #5c1699;

    --status-04-700: #6b19b3;

    --status-04-600: #821fd9;

    --status-04-500: #9924ff;

    --status-04-400: #ad50ff;

    --status-04-300: #bd71ff;

    --status-04-200: #cc92ff;

    --status-04-100: #e6c8ff;

    --status-04-50: #f5e9ff;

    --status-04-25: #faf4ff;

    --status-04-10: #fcf8ff;

    --status-04-0: #fff;

    --status-05-1000: #000;

    --status-05-990: #2d0c1a;

    --status-05-950: #4f142d;

    --status-05-925: #621938;

    --status-05-900: #721d41;

    --status-05-800: #88234e;

    --status-05-700: #9f295b;

    --status-05-600: #c1316e;

    --status-05-500: #e33a82;

    --status-05-400: #e9619b;

    --status-05-300: #ed7fae;

    --status-05-200: #f19dc1;

    --status-05-100: #f8cee0;

    --status-05-50: #fcebf3;

    --status-05-25: #fef5f9;

    --status-05-10: #fef9fb;

    --status-05-0: #fff;

    --status-06-1000: #000;

    --status-06-990: #321100;

    --status-06-950: #581d00;

    --status-06-925: #6c2400;

    --status-06-900: #7d2a00;

    --status-06-800: #963200;

    --status-06-700: #af3a00;

    --status-06-600: #d44700;

    --status-06-500: #fa5300;

    --status-06-400: #fb7533;

    --status-06-300: #fc8f59;

    --status-06-200: #fda980;

    --status-06-100: #fed4bf;

    --status-06-50: #ffeee6;

    --status-06-25: #fff6f2;

    --status-06-10: #fffaf7;

    --status-06-0: #fff;

    --fg-default: #0e1117;

    --fg-soft: #445371;

    --fg-muted: #858fa3;

    --fg-disabled: rgba(68, 83, 113, 0.5);

    --bg-surface1: #fff;

    --bg-surface2: #f9fafb;

    --bg-surface3: #f6f6f8;

    --bg-surface4: #eceef1;

    --bg-surface5: #d0d4dc;

    --bg-page: #fff;

    --bg-disabled: rgba(68, 83, 113, 0.1);

    --bg-elevated-0: #fff;

    --bg-elevated-s: #fff;

    --bg-elevated-m: #fff;

    --bg-elevated-l: #fff;

    --bg-elevated-xl: #fff;

    --border-default: rgba(68, 83, 113, 0.5);

    --border-soft: rgba(68, 83, 113, 0.25);

    --border-muted: rgba(68, 83, 113, 0.15);

    --accent-default: #0055ff;

    --accent-soft: #37f;

    --accent-muted: #80aaff;

    --accent-hover: #0048d9;

    --accent-active: #003cb3;

    --accent-on-accent: #fff;

    --accent-container-default: rgba(0, 85, 255, 0.1);

    --accent-container-soft: rgba(0, 85, 255, 0.05);

    --accent-container-muted: rgba(0, 85, 255, 0.03);

    --accent-container-hover: rgba(0, 85, 255, 0.2);

    --accent-container-active: rgba(0, 85, 255, 0.3);

    --accent-on-container: #0055ff;

    --neutral-default: #445371;

    --neutral-soft: #69758d;

    --neutral-muted: #a2a9b8;

    --neutral-hover: #3a4760;

    --neutral-active: #303a4f;

    --neutral-on-neutral: #fff;

    --neutral-container-default: rgba(68, 83, 113, 0.1);

    --neutral-container-soft: rgba(68, 83, 113, 0.05);

    --neutral-container-muted: rgba(68, 83, 113, 0.03);

    --neutral-container-hover: rgba(68, 83, 113, 0.2);

    --neutral-container-active: rgba(68, 83, 113, 0.3);

    --neutral-on-container: #445371;

    --success-default: #019f3c;

    --success-soft: #34b263;

    --success-muted: #80cf9e;

    --success-hover: #018733;

    --success-active: #016f2a;

    --success-on-success: #fff;

    --success-container-default: rgba(1, 159, 60, 0.1);

    --success-container-soft: rgba(1, 159, 60, 0.05);

    --success-container-muted: rgba(1, 159, 60, 0.03);

    --success-container-hover: rgba(1, 159, 60, 0.2);

    --success-container-active: rgba(1, 159, 60, 0.3);

    --success-on-container: #019f3c;

    --warning-default: #f29100;

    --warning-soft: #f5a733;

    --warning-muted: #f9c880;

    --warning-hover: #ce7b00;

    --warning-active: #a96600;

    --warning-on-warning: #301d00;

    --warning-container-default: rgba(242, 145, 0, 0.1);

    --warning-container-soft: rgba(242, 145, 0, 0.05);

    --warning-container-muted: rgba(242, 145, 0, 0.03);

    --warning-container-hover: rgba(242, 145, 0, 0.2);

    --warning-container-active: rgba(242, 145, 0, 0.3);

    --warning-on-container: #ce7b00;

    --error-default: #d91528;

    --error-soft: #e14453;

    --error-muted: #ec8a93;

    --error-hover: #b81222;

    --error-active: #980f1c;

    --error-on-error: #fff;

    --error-container-default: rgba(217, 21, 40, 0.1);

    --error-container-soft: rgba(217, 21, 40, 0.05);

    --error-container-muted: rgba(217, 21, 40, 0.03);

    --error-container-hover: rgba(217, 21, 40, 0.2);

    --error-container-active: rgba(217, 21, 40, 0.3);

    --error-on-container: #d91528;

    --info-default: #1998ff;

    --info-soft: #47adff;

    --info-muted: #8cccff;

    --info-hover: #1581d9;

    --info-active: #126ab3;

    --info-on-info: #fff;

    --info-container-default: rgba(25, 152, 255, 0.1);

    --info-container-soft: rgba(25, 152, 255, 0.05);

    --info-container-muted: rgba(25, 152, 255, 0.03);

    --info-container-hover: rgba(25, 152, 255, 0.2);

    --info-container-active: rgba(25, 152, 255, 0.3);

    --info-on-container: #1998ff;

    --status-01-default: #00b288;

    --status-01-soft: #33c1a0;

    --status-01-muted: #80d9c3;

    --status-01-hover: #009774;

    --status-01-active: #007d5f;

    --status-01-on-status-01: #fff;

    --status-01-container-default: rgba(0, 178, 136, 0.1);

    --status-01-container-soft: rgba(0, 178, 136, 0.05);

    --status-01-container-muted: rgba(0, 178, 136, 0.03);

    --status-01-container-hover: rgba(0, 178, 136, 0.2);

    --status-01-container-active: rgba(0, 178, 136, 0.3);

    --status-01-on-container: #00b288;

    --status-02-default: #1192bb;

    --status-02-soft: #41a8c9;

    --status-02-muted: #88c9dd;

    --status-02-hover: #0e7c9f;

    --status-02-active: #0c6683;

    --status-02-on-status-02: #fff;

    --status-02-container-default: rgba(17, 146, 187, 0.1);

    --status-02-container-soft: rgba(17, 146, 187, 0.05);

    --status-02-container-muted: rgba(17, 146, 187, 0.03);

    --status-02-container-hover: rgba(17, 146, 187, 0.2);

    --status-02-container-active: rgba(17, 146, 187, 0.3);

    --status-02-on-container: #1192bb;

    --status-03-default: #6952f5;

    --status-03-soft: #8775f7;

    --status-03-muted: #b4a9fa;

    --status-03-hover: #5946d0;

    --status-03-active: #4a39ac;

    --status-03-on-status-03: #fff;

    --status-03-container-default: rgba(105, 82, 245, 0.1);

    --status-03-container-soft: rgba(105, 82, 245, 0.05);

    --status-03-container-muted: rgba(105, 82, 245, 0.03);

    --status-03-container-hover: rgba(105, 82, 245, 0.2);

    --status-03-container-active: rgba(105, 82, 245, 0.3);

    --status-03-on-container: #6952f5;

    --status-04-default: #9924ff;

    --status-04-soft: #ad50ff;

    --status-04-muted: #cc92ff;

    --status-04-hover: #821fd9;

    --status-04-active: #6b19b3;

    --status-04-on-status-04: #fff;

    --status-04-container-default: rgba(153, 36, 255, 0.1);

    --status-04-container-soft: rgba(153, 36, 255, 0.05);

    --status-04-container-muted: rgba(153, 36, 255, 0.03);

    --status-04-container-hover: rgba(153, 36, 255, 0.2);

    --status-04-container-active: rgba(153, 36, 255, 0.3);

    --status-04-on-container: #9924ff;

    --status-05-default: #e33a82;

    --status-05-soft: #e9619b;

    --status-05-muted: #f19dc1;

    --status-05-hover: #c1316e;

    --status-05-active: #9f295b;

    --status-05-on-status-05: #fff;

    --status-05-container-default: rgba(227, 58, 130, 0.1);

    --status-05-container-soft: rgba(227, 58, 130, 0.05);

    --status-05-container-muted: rgba(227, 58, 130, 0.03);

    --status-05-container-hover: rgba(227, 58, 130, 0.2);

    --status-05-container-active: rgba(227, 58, 130, 0.3);

    --status-05-on-container: #e33a82;

    --status-06-default: #fa5300;

    --status-06-soft: #fb7533;

    --status-06-muted: #fda980;

    --status-06-hover: #d44700;

    --status-06-active: #af3a00;

    --status-06-on-status-06: #fff;

    --status-06-container-default: rgba(250, 83, 0, 0.1);

    --status-06-container-soft: rgba(250, 83, 0, 0.05);

    --status-06-container-muted: rgba(250, 83, 0, 0.03);

    --status-06-container-hover: rgba(250, 83, 0, 0.2);

    --status-06-container-active: rgba(250, 83, 0, 0.3);

    --status-06-on-container: #fa5300;

    --static-white: #fff;

    --static-black: #0e1117;
  }
}
