@layer base {
  .dark-theme {
    --fg-default: #eceef1;

    --fg-soft: #a1a9b8;

    --fg-muted: #858fa3;

    --fg-disabled: rgba(161, 169, 184, 0.5);

    --bg-surface1: #181d28;

    --bg-surface2: #1d2431;

    --bg-surface3: #222a39;

    --bg-surface4: #293244;

    --bg-surface5: #303a4f;

    --bg-page: #181d28;

    --bg-disabled: rgba(161, 169, 184, 0.1);

    --bg-elevated-0: #181d28;

    --bg-elevated-s: #1d2431;

    --bg-elevated-m: #222a39;

    --bg-elevated-l: #293244;

    --bg-elevated-xl: #303a4f;

    --border-default: rgba(161, 169, 184, 0.1);

    --border-soft: rgba(161, 169, 184, 0.08);

    --border-muted: rgba(161, 169, 184, 0.04);

    --accent-default: #80aaff;

    --accent-soft: #5991ff;

    --accent-muted: #3377ff;

    --accent-hover: #bfd4ff;

    --accent-active: #e6eeff;

    --accent-on-accent: #001e59;

    --accent-container-default: rgba(51, 119, 255, 0.2);

    --accent-container-soft: rgba(51, 119, 255, 0.1);

    --accent-container-muted: rgba(51, 119, 255, 0.05);

    --accent-container-hover: rgba(51, 119, 255, 0.3);

    --accent-container-active: rgba(51, 119, 255, 0.4);

    --accent-on-container: #80aaff;

    --neutral-default: #a1a9b8;

    --neutral-soft: #858fa3;

    --neutral-muted: #69758e;

    --neutral-hover: #d0d4dc;

    --neutral-active: #eceef1;

    --neutral-on-neutral: #181d28;

    --neutral-container-default: rgba(105, 117, 142, 0.2);

    --neutral-container-soft: rgba(105, 117, 142, 0.1);

    --neutral-container-muted: rgba(105, 117, 142, 0.05);

    --neutral-container-hover: rgba(105, 117, 142, 0.3);

    --neutral-container-active: rgba(105, 117, 142, 0.4);

    --neutral-on-container: #a1a9b8;

    --success-default: #80cf9e;

    --success-soft: #5ac180;

    --success-muted: #34b263;

    --success-hover: #c0e7ce;

    --success-active: #e6f5ec;

    --success-on-success: #003815;

    --success-container-default: rgba(52, 178, 99, 0.2);

    --success-container-soft: rgba(52, 178, 99, 0.1);

    --success-container-muted: rgba(52, 178, 99, 0.05);

    --success-container-hover: rgba(52, 178, 99, 0.3);

    --success-container-active: rgba(52, 178, 99, 0.4);

    --success-on-container: #80cf9e;

    --warning-default: #f9c880;

    --warning-soft: #f7b859;

    --warning-muted: #f5a733;

    --warning-hover: #fce3bf;

    --warning-active: #fef4e6;

    --warning-on-warning: #301d00;

    --warning-container-default: rgba(245, 167, 51, 0.2);

    --warning-container-soft: rgba(245, 167, 51, 0.1);

    --warning-container-muted: rgba(245, 167, 51, 0.05);

    --warning-container-hover: rgba(245, 167, 51, 0.3);

    --warning-container-active: rgba(245, 167, 51, 0.4);

    --warning-on-container: #f9c880;

    --error-default: #ec8a93;

    --error-soft: #e66773;

    --error-muted: #e14453;

    --error-hover: #f6c5c9;

    --error-active: #fbe8ea;

    --error-on-error: #4c070e;

    --error-container-default: rgba(225, 68, 83, 0.2);

    --error-container-soft: rgba(225, 68, 83, 0.1);

    --error-container-muted: rgba(225, 68, 83, 0.05);

    --error-container-hover: rgba(225, 68, 83, 0.3);

    --error-container-active: rgba(225, 68, 83, 0.4);

    --error-on-container: #ec8a93;

    --info-default: #8ccbff;

    --info-soft: #6abcff;

    --info-muted: #47adff;

    --info-hover: #c6e5ff;

    --info-active: #e8f5ff;

    --info-on-info: #093559;

    --info-container-default: rgba(71, 173, 255, 0.2);

    --info-container-soft: rgba(71, 173, 255, 0.1);

    --info-container-muted: rgba(71, 173, 255, 0.05);

    --info-container-hover: rgba(71, 173, 255, 0.3);

    --info-container-active: rgba(71, 173, 255, 0.4);

    --info-on-container: #8ccbff;

    --status-01-default: #80d8c4;

    --status-01-soft: #59cdb2;

    --status-01-muted: #33c1a0;

    --status-01-hover: #bfece1;

    --status-01-active: #e6f7f3;

    --status-01-on-status-01: #003e30;

    --status-01-container-default: rgba(51, 193, 160, 0.2);

    --status-01-container-soft: rgba(51, 193, 160, 0.1);

    --status-01-container-muted: rgba(51, 193, 160, 0.05);

    --status-01-container-hover: rgba(51, 193, 160, 0.3);

    --status-01-container-active: rgba(51, 193, 160, 0.4);

    --status-01-on-container: #80d8c4;

    --status-02-default: #88c8dd;

    --status-02-soft: #64b8d3;

    --status-02-muted: #41a8c9;

    --status-02-hover: #c4e4ee;

    --status-02-active: #e7f4f8;

    --status-02-on-status-02: #063342;

    --status-02-container-default: rgba(65, 168, 201, 0.2);

    --status-02-container-soft: rgba(65, 168, 201, 0.1);

    --status-02-container-muted: rgba(65, 168, 201, 0.05);

    --status-02-container-hover: rgba(65, 168, 201, 0.3);

    --status-02-container-active: rgba(65, 168, 201, 0.4);

    --status-02-on-container: #88c8dd;

    --status-03-default: #b4a9fa;

    --status-03-soft: #9e8ff9;

    --status-03-muted: #8775f7;

    --status-03-hover: #dad4fc;

    --status-03-active: #f0eefe;

    --status-03-on-status-03: #251d56;

    --status-03-container-default: rgba(135, 117, 247, 0.2);

    --status-03-container-soft: rgba(135, 117, 247, 0.1);

    --status-03-container-muted: rgba(135, 117, 247, 0.05);

    --status-03-container-hover: rgba(135, 117, 247, 0.3);

    --status-03-container-active: rgba(135, 117, 247, 0.4);

    --status-03-on-container: #b4a9fa;

    --status-04-default: #cc92ff;

    --status-04-soft: #bd71ff;

    --status-04-muted: #ad50ff;

    --status-04-hover: #e6c8ff;

    --status-04-active: #f5e9ff;

    --status-04-on-status-04: #360d59;

    --status-04-container-default: rgba(173, 80, 255, 0.2);

    --status-04-container-soft: rgba(173, 80, 255, 0.1);

    --status-04-container-muted: rgba(173, 80, 255, 0.05);

    --status-04-container-hover: rgba(173, 80, 255, 0.3);

    --status-04-container-active: rgba(173, 80, 255, 0.4);

    --status-04-on-container: #cc92ff;

    --status-05-default: #f19dc1;

    --status-05-soft: #ed7fae;

    --status-05-muted: #e9619b;

    --status-05-hover: #f8cee0;

    --status-05-active: #fcebf3;

    --status-05-on-status-05: #50142d;

    --status-05-container-default: rgba(233, 97, 155, 0.2);

    --status-05-container-soft: rgba(233, 97, 155, 0.1);

    --status-05-container-muted: rgba(233, 97, 155, 0.05);

    --status-05-container-hover: rgba(233, 97, 155, 0.3);

    --status-05-container-active: rgba(233, 97, 155, 0.4);

    --status-05-on-container: #f19dc1;

    --status-06-default: #fca980;

    --status-06-soft: #fc8f59;

    --status-06-muted: #fb7533;

    --status-06-hover: #fed4bf;

    --status-06-active: #feeee6;

    --status-06-on-status-06: #571d00;

    --status-06-container-default: rgba(251, 117, 51, 0.2);

    --status-06-container-soft: rgba(251, 117, 51, 0.1);

    --status-06-container-muted: rgba(251, 117, 51, 0.05);

    --status-06-container-hover: rgba(251, 117, 51, 0.3);

    --status-06-container-active: rgba(251, 117, 51, 0.4);

    --status-06-on-container: #fca980;

    --static-white: #fff;

    --static-black: #0e1117;
  }
}
