@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-neutral: 220, 25%, 35%, 1;

    --base-accent: 220, 100%, 50%, 1;

    --base-success: 142, 99%, 31%, 1;

    --base-warning: 36, 100%, 47%, 1;

    --base-error: 354, 82%, 47%, 1;

    --base-info: 207, 100%, 55%, 1;

    --base-status-01: 166, 100%, 35%, 1;

    --base-status-02: 194, 83%, 40%, 1;

    --base-status-03: 248, 89%, 64%, 1;

    --base-status-04: 272, 100%, 57%, 1;

    --base-status-05: 334, 75%, 56%, 1;

    --base-status-06: 20, 100%, 49%, 1;

    --neutral-1000: 0, 0%, 0%, 1;

    --neutral-990: 220, 24%, 7%, 1;

    --neutral-950: 221, 25%, 13%, 1;

    --neutral-925: 219, 26%, 15%, 1;

    --neutral-900: 219, 25%, 18%, 1;

    --neutral-800: 220, 25%, 21%, 1;

    --neutral-700: 221, 24%, 25%, 1;

    --neutral-600: 219, 25%, 30%, 1;

    --neutral-500: 220, 25%, 35%, 1;

    --neutral-400: 220, 15%, 48%, 1;

    --neutral-300: 220, 14%, 58%, 1;

    --neutral-200: 221, 13%, 68%, 1;

    --neutral-100: 220, 15%, 84%, 1;

    --neutral-50: 216, 15%, 94%, 1;

    --neutral-25: 240, 12%, 97%, 1;

    --neutral-10: 210, 20%, 98%, 1;

    --neutral-0: 0, 0%, 100%, 1;

    --accent-1000: 0, 0%, 0%, 1;

    --accent-990: 220, 100%, 10%, 1;

    --accent-950: 220, 100%, 17%, 1;

    --accent-925: 220, 100%, 22%, 1;

    --accent-900: 220, 100%, 25%, 1;

    --accent-800: 220, 100%, 30%, 1;

    --accent-700: 220, 100%, 35%, 1;

    --accent-600: 220, 100%, 43%, 1;

    --accent-500: 220, 100%, 50%, 1;

    --accent-400: 220, 100%, 60%, 1;

    --accent-300: 220, 100%, 67%, 1;

    --accent-200: 220, 100%, 75%, 1;

    --accent-100: 220, 100%, 87%, 1;

    --accent-50: 221, 100%, 95%, 1;

    --accent-25: 217, 100%, 97%, 1;

    --accent-10: 218, 100%, 98%, 1;

    --accent-0: 0, 0%, 100%, 1;

    --success-1000: 0, 0%, 0%, 1;

    --success-990: 142, 100%, 6%, 1;

    --success-950: 142, 100%, 11%, 1;

    --success-925: 143, 100%, 13%, 1;

    --success-900: 142, 98%, 16%, 1;

    --success-800: 142, 98%, 19%, 1;

    --success-700: 142, 98%, 22%, 1;

    --success-600: 142, 99%, 27%, 1;

    --success-500: 142, 99%, 31%, 1;

    --success-400: 142, 55%, 45%, 1;

    --success-300: 142, 45%, 55%, 1;

    --success-200: 143, 45%, 66%, 1;

    --success-100: 142, 45%, 83%, 1;

    --success-50: 144, 43%, 93%, 1;

    --success-25: 143, 44%, 96%, 1;

    --success-10: 144, 45%, 98%, 1;

    --success-0: 0, 0%, 100%, 1;

    --warning-1000: 0, 0%, 0%, 1;

    --warning-990: 36, 100%, 9%, 1;

    --warning-950: 36, 100%, 17%, 1;

    --warning-925: 36, 100%, 20%, 1;

    --warning-900: 36, 100%, 24%, 1;

    --warning-800: 36, 100%, 28%, 1;

    --warning-700: 36, 100%, 33%, 1;

    --warning-600: 36, 100%, 40%, 1;

    --warning-500: 36, 100%, 47%, 1;

    --warning-400: 36, 91%, 58%, 1;

    --warning-300: 36, 91%, 66%, 1;

    --warning-200: 36, 91%, 74%, 1;

    --warning-100: 35, 91%, 87%, 1;

    --warning-50: 35, 92%, 95%, 1;

    --warning-25: 40, 86%, 97%, 1;

    --warning-10: 38, 100%, 98%, 1;

    --warning-0: 0, 0%, 100%, 1;

    --error-1000: 0, 0%, 0%, 1;

    --error-990: 354, 83%, 9%, 1;

    --error-950: 354, 83%, 16%, 1;

    --error-925: 354, 82%, 20%, 1;

    --error-900: 354, 82%, 24%, 1;

    --error-800: 354, 82%, 28%, 1;

    --error-700: 354, 82%, 33%, 1;

    --error-600: 354, 82%, 40%, 1;

    --error-500: 354, 82%, 47%, 1;

    --error-400: 354, 72%, 57%, 1;

    --error-300: 354, 72%, 65%, 1;

    --error-200: 354, 72%, 73%, 1;

    --error-100: 355, 73%, 87%, 1;

    --error-50: 354, 70%, 95%, 1;

    --error-25: 354, 71%, 97%, 1;

    --error-10: 350, 75%, 98%, 1;

    --error-0: 0, 0%, 100%, 1;

    --info-1000: 0, 0%, 0%, 1;

    --info-990: 207, 82%, 11%, 1;

    --info-950: 207, 82%, 19%, 1;

    --info-925: 207, 82%, 24%, 1;

    --info-900: 207, 82%, 28%, 1;

    --info-800: 207, 82%, 33%, 1;

    --info-700: 207, 82%, 39%, 1;

    --info-600: 207, 82%, 47%, 1;

    --info-500: 207, 100%, 55%, 1;

    --info-400: 207, 100%, 64%, 1;

    --info-300: 207, 100%, 71%, 1;

    --info-200: 207, 100%, 77%, 1;

    --info-100: 207, 100%, 89%, 1;

    --info-50: 206, 100%, 95%, 1;

    --info-25: 205, 100%, 98%, 1;

    --info-10: 206, 100%, 99%, 1;

    --info-0: 0, 0%, 100%, 1;

    --status-01-1000: 0, 0%, 0%, 1;

    --status-01-990: 165, 100%, 7%, 1;

    --status-01-950: 166, 100%, 12%, 1;

    --status-01-925: 165, 100%, 15%, 1;

    --status-01-900: 166, 100%, 17%, 1;

    --status-01-800: 166, 100%, 21%, 1;

    --status-01-700: 166, 100%, 25%, 1;

    --status-01-600: 166, 100%, 30%, 1;

    --status-01-500: 166, 100%, 35%, 1;

    --status-01-400: 166, 58%, 48%, 1;

    --status-01-300: 166, 54%, 58%, 1;

    --status-01-200: 165, 54%, 68%, 1;

    --status-01-100: 165, 54%, 84%, 1;

    --status-01-50: 166, 52%, 94%, 1;

    --status-01-25: 167, 53%, 97%, 1;

    --status-01-10: 160, 60%, 98%, 1;

    --status-01-0: 0, 0%, 100%, 1;

    --status-02-1000: 0, 0%, 0%, 1;

    --status-02-990: 194, 85%, 8%, 1;

    --status-02-950: 194, 83%, 14%, 1;

    --status-02-925: 194, 84%, 17%, 1;

    --status-02-900: 195, 83%, 20%, 1;

    --status-02-800: 194, 84%, 24%, 1;

    --status-02-700: 195, 83%, 28%, 1;

    --status-02-600: 194, 84%, 34%, 1;

    --status-02-500: 194, 83%, 40%, 1;

    --status-02-400: 195, 56%, 52%, 1;

    --status-02-300: 195, 56%, 61%, 1;

    --status-02-200: 194, 56%, 70%, 1;

    --status-02-100: 194, 56%, 85%, 1;

    --status-02-50: 194, 55%, 94%, 1;

    --status-02-25: 193, 60%, 97%, 1;

    --status-02-10: 192, 56%, 98%, 1;

    --status-02-0: 0, 0%, 100%, 1;

    --status-03-1000: 0, 0%, 0%, 1;

    --status-03-990: 249, 51%, 13%, 1;

    --status-03-950: 248, 50%, 23%, 1;

    --status-03-925: 249, 50%, 27%, 1;

    --status-03-900: 249, 50%, 32%, 1;

    --status-03-800: 249, 50%, 38%, 1;

    --status-03-700: 249, 50%, 45%, 1;

    --status-03-600: 248, 59%, 55%, 1;

    --status-03-500: 248, 89%, 64%, 1;

    --status-03-400: 248, 89%, 71%, 1;

    --status-03-300: 248, 90%, 77%, 1;

    --status-03-200: 248, 89%, 82%, 1;

    --status-03-100: 249, 91%, 91%, 1;

    --status-03-50: 248, 89%, 96%, 1;

    --status-03-25: 253, 100%, 98%, 1;

    --status-03-10: 252, 100%, 99%, 1;

    --status-03-0: 0, 0%, 100%, 1;

    --status-04-1000: 0, 0%, 0%, 1;

    --status-04-990: 273, 76%, 11%, 1;

    --status-04-950: 272, 75%, 20%, 1;

    --status-04-925: 272, 76%, 25%, 1;

    --status-04-900: 272, 75%, 29%, 1;

    --status-04-800: 272, 75%, 34%, 1;

    --status-04-700: 272, 75%, 40%, 1;

    --status-04-600: 272, 75%, 49%, 1;

    --status-04-500: 272, 100%, 57%, 1;

    --status-04-400: 272, 100%, 66%, 1;

    --status-04-300: 272, 100%, 72%, 1;

    --status-04-200: 272, 100%, 79%, 1;

    --status-04-100: 273, 100%, 89%, 1;

    --status-04-50: 273, 100%, 96%, 1;

    --status-04-25: 273, 100%, 98%, 1;

    --status-04-10: 274, 100%, 99%, 1;

    --status-04-0: 0, 0%, 100%, 1;

    --status-05-1000: 0, 0%, 0%, 1;

    --status-05-990: 335, 58%, 11%, 1;

    --status-05-950: 335, 60%, 19%, 1;

    --status-05-925: 335, 59%, 24%, 1;

    --status-05-900: 335, 59%, 28%, 1;

    --status-05-800: 334, 59%, 34%, 1;

    --status-05-700: 335, 59%, 39%, 1;

    --status-05-600: 335, 60%, 47%, 1;

    --status-05-500: 334, 75%, 56%, 1;

    --status-05-400: 334, 76%, 65%, 1;

    --status-05-300: 334, 75%, 71%, 1;

    --status-05-200: 334, 75%, 78%, 1;

    --status-05-100: 334, 75%, 89%, 1;

    --status-05-50: 332, 74%, 95%, 1;

    --status-05-25: 333, 82%, 98%, 1;

    --status-05-10: 336, 71%, 99%, 1;

    --status-05-0: 0, 0%, 100%, 1;

    --status-06-1000: 0, 0%, 0%, 1;

    --status-06-990: 20, 100%, 10%, 1;

    --status-06-950: 20, 100%, 17%, 1;

    --status-06-925: 20, 100%, 21%, 1;

    --status-06-900: 20, 100%, 25%, 1;

    --status-06-800: 20, 100%, 29%, 1;

    --status-06-700: 20, 100%, 34%, 1;

    --status-06-600: 20, 100%, 42%, 1;

    --status-06-500: 20, 100%, 49%, 1;

    --status-06-400: 20, 96%, 59%, 1;

    --status-06-300: 20, 96%, 67%, 1;

    --status-06-200: 20, 97%, 75%, 1;

    --status-06-100: 20, 97%, 87%, 1;

    --status-06-50: 19, 100%, 95%, 1;

    --status-06-25: 18, 100%, 97%, 1;

    --status-06-10: 22, 100%, 98%, 1;

    --status-06-0: 0, 0%, 100%, 1;

    --fg-default: 220, 24%, 7%, 1;

    --fg-soft: 220, 25%, 35%, 1;

    --fg-muted: 220, 14%, 58%, 1;

    --fg-disabled: 220, 25%, 35%, 0.5;

    --bg-surface1: 0, 0%, 100%, 1;

    --bg-surface2: 210, 20%, 98%, 1;

    --bg-surface3: 240, 12%, 97%, 1;

    --bg-surface4: 216, 15%, 94%, 1;

    --bg-surface5: 220, 15%, 84%, 1;

    --bg-page: 0, 0%, 100%, 1;

    --bg-disabled: 220, 25%, 35%, 0.1;

    --bg-elevated-0: 0, 0%, 100%, 1;

    --bg-elevated-s: 0, 0%, 100%, 1;

    --bg-elevated-m: 0, 0%, 100%, 1;

    --bg-elevated-l: 0, 0%, 100%, 1;

    --bg-elevated-xl: 0, 0%, 100%, 1;

    --border-default: 220, 25%, 35%, 0.5;

    --border-soft: 220, 25%, 35%, 0.25;

    --border-muted: 220, 25%, 35%, 0.15;

    --accent-default: 220, 100%, 50%, 1;

    --accent-soft: 220, 100%, 60%, 1;

    --accent-muted: 220, 100%, 75%, 1;

    --accent-hover: 220, 100%, 43%, 1;

    --accent-active: 220, 100%, 35%, 1;

    --accent-on-accent: 0, 0%, 100%, 1;

    --accent-container-default: 220, 100%, 50%, 0.1;

    --accent-container-soft: 220, 100%, 50%, 0.05;

    --accent-container-muted: 220, 100%, 50%, 0.03;

    --accent-container-hover: 220, 100%, 50%, 0.2;

    --accent-container-active: 220, 100%, 50%, 0.3;

    --accent-on-container: 220, 100%, 50%, 1;

    --neutral-default: 220, 25%, 35%, 1;

    --neutral-soft: 220, 15%, 48%, 1;

    --neutral-muted: 221, 13%, 68%, 1;

    --neutral-hover: 219, 25%, 30%, 1;

    --neutral-active: 221, 24%, 25%, 1;

    --neutral-on-neutral: 0, 0%, 100%, 1;

    --neutral-container-default: 220, 25%, 35%, 0.1;

    --neutral-container-soft: 220, 25%, 35%, 0.05;

    --neutral-container-muted: 220, 25%, 35%, 0.03;

    --neutral-container-hover: 220, 25%, 35%, 0.2;

    --neutral-container-active: 220, 25%, 35%, 0.3;

    --neutral-on-container: 220, 25%, 35%, 1;

    --success-default: 142, 99%, 31%, 1;

    --success-soft: 142, 55%, 45%, 1;

    --success-muted: 143, 45%, 66%, 1;

    --success-hover: 142, 99%, 27%, 1;

    --success-active: 142, 98%, 22%, 1;

    --success-on-success: 0, 0%, 100%, 1;

    --success-container-default: 142, 99%, 31%, 0.1;

    --success-container-soft: 142, 99%, 31%, 0.05;

    --success-container-muted: 142, 99%, 31%, 0.03;

    --success-container-hover: 142, 99%, 31%, 0.2;

    --success-container-active: 142, 99%, 31%, 0.3;

    --success-on-container: 142, 99%, 31%, 1;

    --warning-default: 36, 100%, 47%, 1;

    --warning-soft: 36, 91%, 58%, 1;

    --warning-muted: 36, 91%, 74%, 1;

    --warning-hover: 36, 100%, 40%, 1;

    --warning-active: 36, 100%, 33%, 1;

    --warning-on-warning: 36, 100%, 9%, 1;

    --warning-container-default: 36, 100%, 47%, 0.1;

    --warning-container-soft: 36, 100%, 47%, 0.05;

    --warning-container-muted: 36, 100%, 47%, 0.03;

    --warning-container-hover: 36, 100%, 47%, 0.2;

    --warning-container-active: 36, 100%, 47%, 0.3;

    --warning-on-container: 36, 100%, 40%, 1;

    --error-default: 354, 82%, 47%, 1;

    --error-soft: 354, 72%, 57%, 1;

    --error-muted: 354, 72%, 73%, 1;

    --error-hover: 354, 82%, 40%, 1;

    --error-active: 354, 82%, 33%, 1;

    --error-on-error: 0, 0%, 100%, 1;

    --error-container-default: 354, 82%, 47%, 0.1;

    --error-container-soft: 354, 82%, 47%, 0.05;

    --error-container-muted: 354, 82%, 47%, 0.03;

    --error-container-hover: 354, 82%, 47%, 0.2;

    --error-container-active: 354, 82%, 47%, 0.3;

    --error-on-container: 354, 82%, 47%, 1;

    --info-default: 207, 100%, 55%, 1;

    --info-soft: 207, 100%, 64%, 1;

    --info-muted: 207, 100%, 77%, 1;

    --info-hover: 207, 82%, 47%, 1;

    --info-active: 207, 82%, 39%, 1;

    --info-on-info: 0, 0%, 100%, 1;

    --info-container-default: 207, 100%, 55%, 0.1;

    --info-container-soft: 207, 100%, 55%, 0.05;

    --info-container-muted: 207, 100%, 55%, 0.03;

    --info-container-hover: 207, 100%, 55%, 0.2;

    --info-container-active: 207, 100%, 55%, 0.3;

    --info-on-container: 207, 100%, 55%, 1;

    --status-01-default: 166, 100%, 35%, 1;

    --status-01-soft: 166, 58%, 48%, 1;

    --status-01-muted: 165, 54%, 68%, 1;

    --status-01-hover: 166, 100%, 30%, 1;

    --status-01-active: 166, 100%, 25%, 1;

    --status-01-on-status-01: 0, 0%, 100%, 1;

    --status-01-container-default: 166, 100%, 35%, 0.1;

    --status-01-container-soft: 166, 100%, 35%, 0.05;

    --status-01-container-muted: 166, 100%, 35%, 0.03;

    --status-01-container-hover: 166, 100%, 35%, 0.2;

    --status-01-container-active: 166, 100%, 35%, 0.3;

    --status-01-on-container: 166, 100%, 35%, 1;

    --status-02-default: 194, 83%, 40%, 1;

    --status-02-soft: 195, 56%, 52%, 1;

    --status-02-muted: 194, 56%, 70%, 1;

    --status-02-hover: 194, 84%, 34%, 1;

    --status-02-active: 195, 83%, 28%, 1;

    --status-02-on-status-02: 0, 0%, 100%, 1;

    --status-02-container-default: 194, 83%, 40%, 0.1;

    --status-02-container-soft: 194, 83%, 40%, 0.05;

    --status-02-container-muted: 194, 83%, 40%, 0.03;

    --status-02-container-hover: 194, 83%, 40%, 0.2;

    --status-02-container-active: 194, 83%, 40%, 0.3;

    --status-02-on-container: 194, 83%, 40%, 1;

    --status-03-default: 248, 89%, 64%, 1;

    --status-03-soft: 248, 89%, 71%, 1;

    --status-03-muted: 248, 89%, 82%, 1;

    --status-03-hover: 248, 59%, 55%, 1;

    --status-03-active: 249, 50%, 45%, 1;

    --status-03-on-status-03: 0, 0%, 100%, 1;

    --status-03-container-default: 248, 89%, 64%, 0.1;

    --status-03-container-soft: 248, 89%, 64%, 0.05;

    --status-03-container-muted: 248, 89%, 64%, 0.03;

    --status-03-container-hover: 248, 89%, 64%, 0.2;

    --status-03-container-active: 248, 89%, 64%, 0.3;

    --status-03-on-container: 248, 89%, 64%, 1;

    --status-04-default: 272, 100%, 57%, 1;

    --status-04-soft: 272, 100%, 66%, 1;

    --status-04-muted: 272, 100%, 79%, 1;

    --status-04-hover: 272, 75%, 49%, 1;

    --status-04-active: 272, 75%, 40%, 1;

    --status-04-on-status-04: 0, 0%, 100%, 1;

    --status-04-container-default: 272, 100%, 57%, 0.1;

    --status-04-container-soft: 272, 100%, 57%, 0.05;

    --status-04-container-muted: 272, 100%, 57%, 0.03;

    --status-04-container-hover: 272, 100%, 57%, 0.2;

    --status-04-container-active: 272, 100%, 57%, 0.3;

    --status-04-on-container: 272, 100%, 57%, 1;

    --status-05-default: 334, 75%, 56%, 1;

    --status-05-soft: 334, 76%, 65%, 1;

    --status-05-muted: 334, 75%, 78%, 1;

    --status-05-hover: 335, 60%, 47%, 1;

    --status-05-active: 335, 59%, 39%, 1;

    --status-05-on-status-05: 0, 0%, 100%, 1;

    --status-05-container-default: 334, 75%, 56%, 0.1;

    --status-05-container-soft: 334, 75%, 56%, 0.05;

    --status-05-container-muted: 334, 75%, 56%, 0.03;

    --status-05-container-hover: 334, 75%, 56%, 0.2;

    --status-05-container-active: 334, 75%, 56%, 0.3;

    --status-05-on-container: 334, 75%, 56%, 1;

    --status-06-default: 20, 100%, 49%, 1;

    --status-06-soft: 20, 96%, 59%, 1;

    --status-06-muted: 20, 97%, 75%, 1;

    --status-06-hover: 20, 100%, 42%, 1;

    --status-06-active: 20, 100%, 34%, 1;

    --status-06-on-status-06: 0, 0%, 100%, 1;

    --status-06-container-default: 20, 100%, 49%, 0.1;

    --status-06-container-soft: 20, 100%, 49%, 0.05;

    --status-06-container-muted: 20, 100%, 49%, 0.03;

    --status-06-container-hover: 20, 100%, 49%, 0.2;

    --status-06-container-active: 20, 100%, 49%, 0.3;

    --status-06-on-container: 20, 100%, 49%, 1;

    --static-white: 0, 0%, 100%, 1;

    --static-black: 220, 24%, 7%, 1;
  }

  .dark-theme {
    --base-neutral: 220, 25%, 35%, 1;

    --base-accent: 220, 100%, 50%, 1;

    --base-success: 142, 99%, 31%, 1;

    --base-warning: 36, 100%, 47%, 1;

    --base-error: 354, 82%, 47%, 1;

    --base-info: 207, 100%, 55%, 1;

    --base-status-01: 166, 100%, 35%, 1;

    --base-status-02: 194, 83%, 40%, 1;

    --base-status-03: 248, 89%, 64%, 1;

    --base-status-04: 272, 100%, 57%, 1;

    --base-status-05: 334, 75%, 56%, 1;

    --base-status-06: 20, 100%, 49%, 1;

    --neutral-1000: 0, 0%, 0%, 1;

    --neutral-990: 220, 24%, 7%, 1;

    --neutral-950: 221, 25%, 13%, 1;

    --neutral-925: 219, 26%, 15%, 1;

    --neutral-900: 219, 25%, 18%, 1;

    --neutral-800: 220, 25%, 21%, 1;

    --neutral-700: 221, 24%, 25%, 1;

    --neutral-600: 219, 25%, 30%, 1;

    --neutral-500: 220, 25%, 35%, 1;

    --neutral-400: 220, 15%, 48%, 1;

    --neutral-300: 220, 14%, 58%, 1;

    --neutral-200: 221, 13%, 68%, 1;

    --neutral-100: 220, 15%, 84%, 1;

    --neutral-50: 216, 15%, 94%, 1;

    --neutral-25: 240, 12%, 97%, 1;

    --neutral-10: 210, 20%, 98%, 1;

    --neutral-0: 0, 0%, 100%, 1;

    --accent-1000: 0, 0%, 0%, 1;

    --accent-990: 220, 100%, 10%, 1;

    --accent-950: 220, 100%, 17%, 1;

    --accent-925: 220, 100%, 22%, 1;

    --accent-900: 220, 100%, 25%, 1;

    --accent-800: 220, 100%, 30%, 1;

    --accent-700: 220, 100%, 35%, 1;

    --accent-600: 220, 100%, 43%, 1;

    --accent-500: 220, 100%, 50%, 1;

    --accent-400: 220, 100%, 60%, 1;

    --accent-300: 220, 100%, 67%, 1;

    --accent-200: 220, 100%, 75%, 1;

    --accent-100: 220, 100%, 87%, 1;

    --accent-50: 221, 100%, 95%, 1;

    --accent-25: 217, 100%, 97%, 1;

    --accent-10: 218, 100%, 98%, 1;

    --accent-0: 0, 0%, 100%, 1;

    --success-1000: 0, 0%, 0%, 1;

    --success-990: 142, 100%, 6%, 1;

    --success-950: 142, 100%, 11%, 1;

    --success-925: 143, 100%, 13%, 1;

    --success-900: 142, 98%, 16%, 1;

    --success-800: 142, 98%, 19%, 1;

    --success-700: 142, 98%, 22%, 1;

    --success-600: 142, 99%, 27%, 1;

    --success-500: 142, 99%, 31%, 1;

    --success-400: 142, 55%, 45%, 1;

    --success-300: 142, 45%, 55%, 1;

    --success-200: 143, 45%, 66%, 1;

    --success-100: 142, 45%, 83%, 1;

    --success-50: 144, 43%, 93%, 1;

    --success-25: 143, 44%, 96%, 1;

    --success-10: 144, 45%, 98%, 1;

    --success-0: 0, 0%, 100%, 1;

    --warning-1000: 0, 0%, 0%, 1;

    --warning-990: 36, 100%, 9%, 1;

    --warning-950: 36, 100%, 17%, 1;

    --warning-925: 36, 100%, 20%, 1;

    --warning-900: 36, 100%, 24%, 1;

    --warning-800: 36, 100%, 28%, 1;

    --warning-700: 36, 100%, 33%, 1;

    --warning-600: 36, 100%, 40%, 1;

    --warning-500: 36, 100%, 47%, 1;

    --warning-400: 36, 91%, 58%, 1;

    --warning-300: 36, 91%, 66%, 1;

    --warning-200: 36, 91%, 74%, 1;

    --warning-100: 35, 91%, 87%, 1;

    --warning-50: 35, 92%, 95%, 1;

    --warning-25: 40, 86%, 97%, 1;

    --warning-10: 38, 100%, 98%, 1;

    --warning-0: 0, 0%, 100%, 1;

    --error-1000: 0, 0%, 0%, 1;

    --error-990: 354, 83%, 9%, 1;

    --error-950: 354, 83%, 16%, 1;

    --error-925: 354, 82%, 20%, 1;

    --error-900: 354, 82%, 24%, 1;

    --error-800: 354, 82%, 28%, 1;

    --error-700: 354, 82%, 33%, 1;

    --error-600: 354, 82%, 40%, 1;

    --error-500: 354, 82%, 47%, 1;

    --error-400: 354, 72%, 57%, 1;

    --error-300: 354, 72%, 65%, 1;

    --error-200: 354, 72%, 73%, 1;

    --error-100: 355, 73%, 87%, 1;

    --error-50: 354, 70%, 95%, 1;

    --error-25: 354, 71%, 97%, 1;

    --error-10: 350, 75%, 98%, 1;

    --error-0: 0, 0%, 100%, 1;

    --info-1000: 0, 0%, 0%, 1;

    --info-990: 207, 82%, 11%, 1;

    --info-950: 207, 82%, 19%, 1;

    --info-925: 207, 82%, 24%, 1;

    --info-900: 207, 82%, 28%, 1;

    --info-800: 207, 82%, 33%, 1;

    --info-700: 207, 82%, 39%, 1;

    --info-600: 207, 82%, 47%, 1;

    --info-500: 207, 100%, 55%, 1;

    --info-400: 207, 100%, 64%, 1;

    --info-300: 207, 100%, 71%, 1;

    --info-200: 207, 100%, 77%, 1;

    --info-100: 207, 100%, 89%, 1;

    --info-50: 206, 100%, 95%, 1;

    --info-25: 205, 100%, 98%, 1;

    --info-10: 206, 100%, 99%, 1;

    --info-0: 0, 0%, 100%, 1;

    --status-01-1000: 0, 0%, 0%, 1;

    --status-01-990: 165, 100%, 7%, 1;

    --status-01-950: 166, 100%, 12%, 1;

    --status-01-925: 165, 100%, 15%, 1;

    --status-01-900: 166, 100%, 17%, 1;

    --status-01-800: 166, 100%, 21%, 1;

    --status-01-700: 166, 100%, 25%, 1;

    --status-01-600: 166, 100%, 30%, 1;

    --status-01-500: 166, 100%, 35%, 1;

    --status-01-400: 166, 58%, 48%, 1;

    --status-01-300: 166, 54%, 58%, 1;

    --status-01-200: 165, 54%, 68%, 1;

    --status-01-100: 165, 54%, 84%, 1;

    --status-01-50: 166, 52%, 94%, 1;

    --status-01-25: 167, 53%, 97%, 1;

    --status-01-10: 160, 60%, 98%, 1;

    --status-01-0: 0, 0%, 100%, 1;

    --status-02-1000: 0, 0%, 0%, 1;

    --status-02-990: 194, 85%, 8%, 1;

    --status-02-950: 194, 83%, 14%, 1;

    --status-02-925: 194, 84%, 17%, 1;

    --status-02-900: 195, 83%, 20%, 1;

    --status-02-800: 194, 84%, 24%, 1;

    --status-02-700: 195, 83%, 28%, 1;

    --status-02-600: 194, 84%, 34%, 1;

    --status-02-500: 194, 83%, 40%, 1;

    --status-02-400: 195, 56%, 52%, 1;

    --status-02-300: 195, 56%, 61%, 1;

    --status-02-200: 194, 56%, 70%, 1;

    --status-02-100: 194, 56%, 85%, 1;

    --status-02-50: 194, 55%, 94%, 1;

    --status-02-25: 193, 60%, 97%, 1;

    --status-02-10: 192, 56%, 98%, 1;

    --status-02-0: 0, 0%, 100%, 1;

    --status-03-1000: 0, 0%, 0%, 1;

    --status-03-990: 249, 51%, 13%, 1;

    --status-03-950: 248, 50%, 23%, 1;

    --status-03-925: 249, 50%, 27%, 1;

    --status-03-900: 249, 50%, 32%, 1;

    --status-03-800: 249, 50%, 38%, 1;

    --status-03-700: 249, 50%, 45%, 1;

    --status-03-600: 248, 59%, 55%, 1;

    --status-03-500: 248, 89%, 64%, 1;

    --status-03-400: 248, 89%, 71%, 1;

    --status-03-300: 248, 90%, 77%, 1;

    --status-03-200: 248, 89%, 82%, 1;

    --status-03-100: 249, 91%, 91%, 1;

    --status-03-50: 248, 89%, 96%, 1;

    --status-03-25: 253, 100%, 98%, 1;

    --status-03-10: 252, 100%, 99%, 1;

    --status-03-0: 0, 0%, 100%, 1;

    --status-04-1000: 0, 0%, 0%, 1;

    --status-04-990: 273, 76%, 11%, 1;

    --status-04-950: 272, 75%, 20%, 1;

    --status-04-925: 272, 76%, 25%, 1;

    --status-04-900: 272, 75%, 29%, 1;

    --status-04-800: 272, 75%, 34%, 1;

    --status-04-700: 272, 75%, 40%, 1;

    --status-04-600: 272, 75%, 49%, 1;

    --status-04-500: 272, 100%, 57%, 1;

    --status-04-400: 272, 100%, 66%, 1;

    --status-04-300: 272, 100%, 72%, 1;

    --status-04-200: 272, 100%, 79%, 1;

    --status-04-100: 273, 100%, 89%, 1;

    --status-04-50: 273, 100%, 96%, 1;

    --status-04-25: 273, 100%, 98%, 1;

    --status-04-10: 274, 100%, 99%, 1;

    --status-04-0: 0, 0%, 100%, 1;

    --status-05-1000: 0, 0%, 0%, 1;

    --status-05-990: 335, 58%, 11%, 1;

    --status-05-950: 335, 60%, 19%, 1;

    --status-05-925: 335, 59%, 24%, 1;

    --status-05-900: 335, 59%, 28%, 1;

    --status-05-800: 334, 59%, 34%, 1;

    --status-05-700: 335, 59%, 39%, 1;

    --status-05-600: 335, 60%, 47%, 1;

    --status-05-500: 334, 75%, 56%, 1;

    --status-05-400: 334, 76%, 65%, 1;

    --status-05-300: 334, 75%, 71%, 1;

    --status-05-200: 334, 75%, 78%, 1;

    --status-05-100: 334, 75%, 89%, 1;

    --status-05-50: 332, 74%, 95%, 1;

    --status-05-25: 333, 82%, 98%, 1;

    --status-05-10: 336, 71%, 99%, 1;

    --status-05-0: 0, 0%, 100%, 1;

    --status-06-1000: 0, 0%, 0%, 1;

    --status-06-990: 20, 100%, 10%, 1;

    --status-06-950: 20, 100%, 17%, 1;

    --status-06-925: 20, 100%, 21%, 1;

    --status-06-900: 20, 100%, 25%, 1;

    --status-06-800: 20, 100%, 29%, 1;

    --status-06-700: 20, 100%, 34%, 1;

    --status-06-600: 20, 100%, 42%, 1;

    --status-06-500: 20, 100%, 49%, 1;

    --status-06-400: 20, 96%, 59%, 1;

    --status-06-300: 20, 96%, 67%, 1;

    --status-06-200: 20, 97%, 75%, 1;

    --status-06-100: 20, 97%, 87%, 1;

    --status-06-50: 19, 100%, 95%, 1;

    --status-06-25: 18, 100%, 97%, 1;

    --status-06-10: 22, 100%, 98%, 1;

    --status-06-0: 0, 0%, 100%, 1;

    --fg-default: 220, 24%, 7%, 1;

    --fg-soft: 220, 25%, 35%, 1;

    --fg-muted: 220, 14%, 58%, 1;

    --fg-disabled: 220, 25%, 35%, 0.5;

    --bg-surface1: 0, 0%, 100%, 1;

    --bg-surface2: 210, 20%, 98%, 1;

    --bg-surface3: 240, 12%, 97%, 1;

    --bg-surface4: 216, 15%, 94%, 1;

    --bg-surface5: 220, 15%, 84%, 1;

    --bg-page: 0, 0%, 100%, 1;

    --bg-disabled: 220, 25%, 35%, 0.1;

    --bg-elevated-0: 0, 0%, 100%, 1;

    --bg-elevated-s: 0, 0%, 100%, 1;

    --bg-elevated-m: 0, 0%, 100%, 1;

    --bg-elevated-l: 0, 0%, 100%, 1;

    --bg-elevated-xl: 0, 0%, 100%, 1;

    --border-default: 220, 25%, 35%, 0.5;

    --border-soft: 220, 25%, 35%, 0.25;

    --border-muted: 220, 25%, 35%, 0.15;

    --accent-default: 220, 100%, 50%, 1;

    --accent-soft: 220, 100%, 60%, 1;

    --accent-muted: 220, 100%, 75%, 1;

    --accent-hover: 220, 100%, 43%, 1;

    --accent-active: 220, 100%, 35%, 1;

    --accent-on-accent: 0, 0%, 100%, 1;

    --accent-container-default: 220, 100%, 50%, 0.1;

    --accent-container-soft: 220, 100%, 50%, 0.05;

    --accent-container-muted: 220, 100%, 50%, 0.03;

    --accent-container-hover: 220, 100%, 50%, 0.2;

    --accent-container-active: 220, 100%, 50%, 0.3;

    --accent-on-container: 220, 100%, 50%, 1;

    --neutral-default: 220, 25%, 35%, 1;

    --neutral-soft: 220, 15%, 48%, 1;

    --neutral-muted: 221, 13%, 68%, 1;

    --neutral-hover: 219, 25%, 30%, 1;

    --neutral-active: 221, 24%, 25%, 1;

    --neutral-on-neutral: 0, 0%, 100%, 1;

    --neutral-container-default: 220, 25%, 35%, 0.1;

    --neutral-container-soft: 220, 25%, 35%, 0.05;

    --neutral-container-muted: 220, 25%, 35%, 0.03;

    --neutral-container-hover: 220, 25%, 35%, 0.2;

    --neutral-container-active: 220, 25%, 35%, 0.3;

    --neutral-on-container: 220, 25%, 35%, 1;

    --success-default: 142, 99%, 31%, 1;

    --success-soft: 142, 55%, 45%, 1;

    --success-muted: 143, 45%, 66%, 1;

    --success-hover: 142, 99%, 27%, 1;

    --success-active: 142, 98%, 22%, 1;

    --success-on-success: 0, 0%, 100%, 1;

    --success-container-default: 142, 99%, 31%, 0.1;

    --success-container-soft: 142, 99%, 31%, 0.05;

    --success-container-muted: 142, 99%, 31%, 0.03;

    --success-container-hover: 142, 99%, 31%, 0.2;

    --success-container-active: 142, 99%, 31%, 0.3;

    --success-on-container: 142, 99%, 31%, 1;

    --warning-default: 36, 100%, 47%, 1;

    --warning-soft: 36, 91%, 58%, 1;

    --warning-muted: 36, 91%, 74%, 1;

    --warning-hover: 36, 100%, 40%, 1;

    --warning-active: 36, 100%, 33%, 1;

    --warning-on-warning: 36, 100%, 9%, 1;

    --warning-container-default: 36, 100%, 47%, 0.1;

    --warning-container-soft: 36, 100%, 47%, 0.05;

    --warning-container-muted: 36, 100%, 47%, 0.03;

    --warning-container-hover: 36, 100%, 47%, 0.2;

    --warning-container-active: 36, 100%, 47%, 0.3;

    --warning-on-container: 36, 100%, 40%, 1;

    --error-default: 354, 82%, 47%, 1;

    --error-soft: 354, 72%, 57%, 1;

    --error-muted: 354, 72%, 73%, 1;

    --error-hover: 354, 82%, 40%, 1;

    --error-active: 354, 82%, 33%, 1;

    --error-on-error: 0, 0%, 100%, 1;

    --error-container-default: 354, 82%, 47%, 0.1;

    --error-container-soft: 354, 82%, 47%, 0.05;

    --error-container-muted: 354, 82%, 47%, 0.03;

    --error-container-hover: 354, 82%, 47%, 0.2;

    --error-container-active: 354, 82%, 47%, 0.3;

    --error-on-container: 354, 82%, 47%, 1;

    --info-default: 207, 100%, 55%, 1;

    --info-soft: 207, 100%, 64%, 1;

    --info-muted: 207, 100%, 77%, 1;

    --info-hover: 207, 82%, 47%, 1;

    --info-active: 207, 82%, 39%, 1;

    --info-on-info: 0, 0%, 100%, 1;

    --info-container-default: 207, 100%, 55%, 0.1;

    --info-container-soft: 207, 100%, 55%, 0.05;

    --info-container-muted: 207, 100%, 55%, 0.03;

    --info-container-hover: 207, 100%, 55%, 0.2;

    --info-container-active: 207, 100%, 55%, 0.3;

    --info-on-container: 207, 100%, 55%, 1;

    --status-01-default: 166, 100%, 35%, 1;

    --status-01-soft: 166, 58%, 48%, 1;

    --status-01-muted: 165, 54%, 68%, 1;

    --status-01-hover: 166, 100%, 30%, 1;

    --status-01-active: 166, 100%, 25%, 1;

    --status-01-on-status-01: 0, 0%, 100%, 1;

    --status-01-container-default: 166, 100%, 35%, 0.1;

    --status-01-container-soft: 166, 100%, 35%, 0.05;

    --status-01-container-muted: 166, 100%, 35%, 0.03;

    --status-01-container-hover: 166, 100%, 35%, 0.2;

    --status-01-container-active: 166, 100%, 35%, 0.3;

    --status-01-on-container: 166, 100%, 35%, 1;

    --status-02-default: 194, 83%, 40%, 1;

    --status-02-soft: 195, 56%, 52%, 1;

    --status-02-muted: 194, 56%, 70%, 1;

    --status-02-hover: 194, 84%, 34%, 1;

    --status-02-active: 195, 83%, 28%, 1;

    --status-02-on-status-02: 0, 0%, 100%, 1;

    --status-02-container-default: 194, 83%, 40%, 0.1;

    --status-02-container-soft: 194, 83%, 40%, 0.05;

    --status-02-container-muted: 194, 83%, 40%, 0.03;

    --status-02-container-hover: 194, 83%, 40%, 0.2;

    --status-02-container-active: 194, 83%, 40%, 0.3;

    --status-02-on-container: 194, 83%, 40%, 1;

    --status-03-default: 248, 89%, 64%, 1;

    --status-03-soft: 248, 89%, 71%, 1;

    --status-03-muted: 248, 89%, 82%, 1;

    --status-03-hover: 248, 59%, 55%, 1;

    --status-03-active: 249, 50%, 45%, 1;

    --status-03-on-status-03: 0, 0%, 100%, 1;

    --status-03-container-default: 248, 89%, 64%, 0.1;

    --status-03-container-soft: 248, 89%, 64%, 0.05;

    --status-03-container-muted: 248, 89%, 64%, 0.03;

    --status-03-container-hover: 248, 89%, 64%, 0.2;

    --status-03-container-active: 248, 89%, 64%, 0.3;

    --status-03-on-container: 248, 89%, 64%, 1;

    --status-04-default: 272, 100%, 57%, 1;

    --status-04-soft: 272, 100%, 66%, 1;

    --status-04-muted: 272, 100%, 79%, 1;

    --status-04-hover: 272, 75%, 49%, 1;

    --status-04-active: 272, 75%, 40%, 1;

    --status-04-on-status-04: 0, 0%, 100%, 1;

    --status-04-container-default: 272, 100%, 57%, 0.1;

    --status-04-container-soft: 272, 100%, 57%, 0.05;

    --status-04-container-muted: 272, 100%, 57%, 0.03;

    --status-04-container-hover: 272, 100%, 57%, 0.2;

    --status-04-container-active: 272, 100%, 57%, 0.3;

    --status-04-on-container: 272, 100%, 57%, 1;

    --status-05-default: 334, 75%, 56%, 1;

    --status-05-soft: 334, 76%, 65%, 1;

    --status-05-muted: 334, 75%, 78%, 1;

    --status-05-hover: 335, 60%, 47%, 1;

    --status-05-active: 335, 59%, 39%, 1;

    --status-05-on-status-05: 0, 0%, 100%, 1;

    --status-05-container-default: 334, 75%, 56%, 0.1;

    --status-05-container-soft: 334, 75%, 56%, 0.05;

    --status-05-container-muted: 334, 75%, 56%, 0.03;

    --status-05-container-hover: 334, 75%, 56%, 0.2;

    --status-05-container-active: 334, 75%, 56%, 0.3;

    --status-05-on-container: 334, 75%, 56%, 1;

    --status-06-default: 20, 100%, 49%, 1;

    --status-06-soft: 20, 96%, 59%, 1;

    --status-06-muted: 20, 97%, 75%, 1;

    --status-06-hover: 20, 100%, 42%, 1;

    --status-06-active: 20, 100%, 34%, 1;

    --status-06-on-status-06: 0, 0%, 100%, 1;

    --status-06-container-default: 20, 100%, 49%, 0.1;

    --status-06-container-soft: 20, 100%, 49%, 0.05;

    --status-06-container-muted: 20, 100%, 49%, 0.03;

    --status-06-container-hover: 20, 100%, 49%, 0.2;

    --status-06-container-active: 20, 100%, 49%, 0.3;

    --status-06-on-container: 20, 100%, 49%, 1;

    --static-white: 0, 0%, 100%, 1;

    --static-black: 220, 24%, 7%, 1;
  }
}
